# Dépendances
node_modules/
.astro/
dist/

# Fichiers de configuration locale et variables d'environnement
.env
.env.production
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système OS
.DS_Store
Thumbs.db